<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
   
      <%= @user.name%>,You have successfully applied to the <%=@job.title %> job.
    
    </p>
    <p>Thanks for Applying and have a great day!.</p>
  </body>
</html>