<!DOCTYPE html>
<html lang=”en”>
  <head>
    <meta charset=”UTF-8″>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Regret</title>
  </head>
  <body>
    <h2>Hey <%=@apply.user.name%>!, your application for job profile "<%=@apply.job.title%>" has been rejected.
    <br>
    We will contact you if there is any other openings.</h2>
  </body>
</html>