<!-- app/views/apply/show_requests.html.erb -->

<h1>Job Requests</h1>

<table>
  <thead>
    <tr>
      <th>Applicant</th>
      <th>Job Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  
    
  </tbody>
</table>
