.ab{
    color: blue
}
.photo{
    height: 100px;
    width:100px;
}

/* #jobs{
    position: relative;
    background: var(--N100);
    background-color: rgb(109, 168, 168);
    border-radius: 20px;
    width: 100%;
    padding: 24px 24px 20px;
    box-shadow: 0 6px 12px rgba(30,10,58,.04);
    transition: box-shadow .2s linear;
    border: none;
} */
 .columns{
    background-color: rgb(201, 226, 248);
    justify-content: center;
    align-items: center;
} 


.panel1 {
    margin-bottom: 20px;
    background-color: #ebc7c7;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}



.app_head{
    margin: 20px auto;
    text-align: center;
    
}

.card{
    
    background-color: #e4d5d5;
    margin: 10px auto;
    border: 2px solid black;
    width: 80%;
    border-radius: 19px;
    height: 14rem;
    font-family: system-ui;
  
}
.card-title{
    font-size: 21px;
    margin-left: 21px;
}

.card-subtitle{
    font-size: 16px;
    margin-left: 44px;
}

.card-text{
    color: rgb(33, 33, 207);
    margin-left: 5px;
}




