.ab{
    color: blue
}

/* #jobs{
    position: relative;
    background: var(--N100);
    background-color: rgb(109, 168, 168);
    border-radius: 20px;
    width: 100%;
    padding: 24px 24px 20px;
    box-shadow: 0 6px 12px rgba(30,10,58,.04);
    transition: box-shadow .2s linear;
    border: none;
} */
 .columns{
    background-color: rgb(201, 226, 248);
    justify-content: center;
    align-items: center;
} 


.panel1 {
    margin-bottom: 20px;
    background-color: #ebc7c7;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
