<div class="navbar-header">
      <%= link_to 'JobExpert', root_path, class: 'navbar-brand' %>
      <%= link_to 'All Jobs',  jobs_path, class: 'navbar-brand' %>
      <% if user_signed_in? %>
        <% if current_user.role == true %>
            <%= link_to 'My Jobs', my_jobs_jobs_path, class: 'navbar-brand'%>
        <% end %>
      <% end %>
</div>